.login-pf body {
    background: url("../img/frisp-smarties-bg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#kc-logo-wrapper {
    background-image: url(../img/keycloak-logo-2.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

div.kc-logo-text {
    background-image: url(../img/frisp-logo-text.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 353.265px;
    background-size: auto 100px;
    margin: 0 auto;
    filter: drop-shadow(0 0px 5px white);
}

